* {
    font-family: $encode;
    font-weight: 400;
}
body {
    padding-top: 150px;
    overflow-x: hidden;
}
.text {
    color: #020202;
    @include fontSize(14px);
    line-height: 24px;
    .small {
        color: #7f7b7b;
    }
    h2, h3, h4, h5, h6 {
        @include fontSize(18px);
        letter-spacing: 0.75px;
        line-height: 1.6;
        margin-bottom: 20px;
    }
}
h1 {
    @include fontSize(30px);
    letter-spacing: 0.75px;
    text-align: center;
    line-height: 48px;
    margin-bottom: 24px;
}
p {
    margin-bottom: 1.2rem;
}
.main_button_holder {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.bottom_line {
    height: 1px;
    background-color: #d77858;
}
.main_button {
    color: #171717;
    @include fontSize(14px);
    background-color: #c8c2c2;
    font-weight: 400;
    display: inline-block;
    padding: 16px 39px 14px;
    border: solid 1px #c8c2c2;
    text-decoration: none;
    transition: background-color ease-in 0.2s;
    &:hover {
        color: #171717;
        background-color: transparent;
        text-decoration: none;
    }
}