/* -------------------------------
colors
-------------------------------- */
$violet: #3c2c5b;
$blue: #0bacfc;
$white: #fff;
$lblue: #e9eef9;
$grey: #6d6d6d;

/* -------------------------------
fonts
-------------------------------- */
$encode: 'Encode Sans Expanded', sans-serif;