.hero_slider {
  .hero_slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 31.3vw;
  }
  .slick-prev {
    left: 10px;
    width: 19px;
    height: 16px;
    z-index: 1;
    opacity: 0.8;
    transition: all ease 0.2;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next {
    transition: all ease 0.2;
    right: 10px;
    width: 19px;
    height: 16px;
    z-index: 1;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next:before {
    transition: all ease 0.2s;
    content: url("../img/hero_right.png");
    line-height: auto;
    width: 19px;
    height: 16px;
    right: 10px;
  }
  .slick-prev:before {
    transition: all ease 0.2s;
    content: url("../img/hero_left.png");
    line-height: auto;
    left: 10px;
    width: 29px;
    height: 16px;
  }
}
#about_us_section {
  padding-top: 36px;
}
#our_work_section {
  padding-top: 36px;
}
#portf_section {
  padding-top: 60px;
  padding-bottom: 10px;
}
.portf_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portf_item {
  width: 250px;
  max-width: 30%;
  a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    &:hover {
      > .portf_background {
        opacity: .75;
      }
    }
  }
  .portf_background {
    height: 250px;
    transition: all ease 0.2s;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  h3 {
    text-align: center;
    color: #555151;
    @include fontSize(14px);
    line-height: 24px;
    margin-top: 14px;
  }
}
#instagram_section {
  padding-top: 54px;
  h1 {
    margin-bottom: 30px;
  }
}
.insta-gallery-button.follow {
  color:#171717 !important;
  font-family: $encode !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  padding: 16px 39px 14px !important;
  border: solid 1px #c8c2c2;
  margin-top: 25px !important;
  margin-bottom: 45px !important;
  i {
    display: none;
  }
  &:hover {
    background-color: transparent !important;
    opacity: 1 !important;
  }
}