.masonry-gallery {
  column-count: 4;
  column-gap: 15px;
  column-fill: balance;
  margin-bottom: 34px;
  @include responsive-xl() {
    column-count: 3;
  }
  @include responsive-md() {
    column-count: 1;
  }
  &__image {
    display: block;
    page-break-inside: avoid;
    margin-bottom: 15px;
    overflow: hidden;
  }
  img {
    transition: transform ease-out 0.3s;
    display: block;
    width: 100%;
    &:hover {
      transform: scale(1.12);
    }
  }
}
