.journal_slider {
    img {
      height: 36.1vw;
      outline: 0;
      width: auto;
      margin-left: 4px;
      margin-right: 4px;
    }
    .slick-prev {
      left: 10px;
      width: 19px;
      height: 16px;
      z-index: 1;
      opacity: 1;
      transition: all ease 0.2;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      transition: all ease 0.2;
      right: 10px;
      width: 19px;
      height: 16px;
      z-index: 1;
      opacity: 1;
      &:hover {
        opacity: 1;
      }
    }
    .slick-next:before {
      transition: all ease 0.2s;
      content: url("../img/next.svg");
      line-height: auto;
      width: 19px;
      height: 16px;
      right: 10px;
      background-image: url("../img/next.svg");
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      line-height: auto;
      right: 10px;
      width: 30px;
      height: 30px;
      top: 0;
      opacity: 1;
    }
    .slick-prev:before {
      transition: all ease 0.2s;
      content: "";
      background-image: url("../img/left.svg");
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      line-height: auto;
      left: 10px;
      width: 30px;
      height: 30px;
      top: 0;
      opacity: 1;
    }
  }
  #our_process {
    .journal_slider img {
      height: 27.8vw;
    }
  }