.bottom_privacy {
  background-color: $gray;
  padding: 6px 0 16px;
  .privacy_holder {
    text-align: center;
    a {
      display: inline-block;
      padding: 0px 15px;
      font-size: 16px;
      color: #000;
      transition: all ease 0.2s;
      text-decoration: underline;
    }
  }
}
