footer {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 28px;
    .text {
        h2 {
            @include fontSize(30px);
            line-height: 36px;
            margin-bottom: 12px;
        }
        p {
            margin-bottom: 6px;
        }
    }
    .footer_social {
        margin-top: 32px;
        a {
            text-decoration: none;
        }
        i {
            color: #c8c2c2;
            font-size: 16px;
            padding: 4px 6px;
            transition: all ease-in 0.2s;
            &:hover {
                color: #d77858;
            }
        }
    }
}