#desktop_header {
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  transition: padding ease-in 0.2s;
  &.scrolled_header {
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.20);
    .logo {
      width: 62px;
    }
    .second_logo {
      width: 200px;
    }
    #menu-main-menu {
      margin-left: 58px;
    }
    .header_holder #menu-main-menu .menu-item a {
      padding-top: 28px;
      padding-bottom: 24px;
    }
    .header_holder #menu-main-menu a:after {
      top: 60px;
    }
    .header_holder #menu-main-menu .menu-item .sub-menu {
      a {
        padding: 8px 0;
        &:hover {
          padding-left: 30px;
        }
        &:after {
          top: 20px;
          left: 0;
        }
      }
      .current-menu-item a {
        padding-left: 30px;
      }
    }
  }
}
.header_holder {
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  #menu-main-menu {
    display: flex;
    flex-wrap: wrap;
    transition: all ease-in 0.2s;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    .menu-item {
      display: inline-block;
      padding-right: 20px;
      margin-right: 10px;
      position: relative;
      .sub-menu {
        display: none;
        position: absolute;
        width: 220px;
        background: #fff;
        left: -20px;
        top: 100%;
        padding: 20px 20px;
        border-top: #d77858 solid 1px;
        z-index: 99;
        box-shadow: 0 6px 8px 0 rgba(0,0,0,.15);
        li {
          margin: 0;
          display: block;
        }
        .current-menu-item {
          a {
            color: #d77858;
            padding-left: 30px;
            &:after {
              width: 20px;
            } 
          }
        }
        a {
          padding: 8px 0;
          color: #000000;
          transition: padding-left ease 0.4s;
          display: block;
          width: 100%;
          &:after {
            width: 0;
          }
          &:hover {
            padding-left: 30px;
          }
          &:after {
            top: 20px;
            left: 0;
          }
        }
      }
      a {
        color: #000000;
        text-decoration: none;
        @include fontSize(16px);
        padding-top: 66px;
        padding-bottom: 60px;
        display: inline-block;
        transition: padding ease-in 0.2s;
        &:hover {
          color: #d77858;
        }
        &:hover:after {
          width: 20px;
          left: 0;
        } 
      }
    }
    a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      top: 100px;
      left: 0;
      position: absolute;
      background: #b2b2b2;
      transition: width 0.4s ease 0s, left 0.2s ease 0s;
      width: 0;
    }
    a:hover:after {
      width: 28px;
      left: 0;
    }
    .current-menu-item {
      a {
        color: #d77858;
        &:after {
          transition: all ease-in 0.2s;
          width: 20px;
          left: 0;
        }
      }
    }
  }
}
.logo {
  width: 80px;
  transition: all ease-in 0.2s;
}
.second_logo_holder {
  margin-left: auto;
  a {
    text-decoration: none;
  }
  h3 {
    margin: 0;
    color: #020202;
    @include fontSize(27px);
    font-weight: 300;
  }
  .second_logo_text {
    @include fontSize(10px);
    color: #020202;
    font-weight: 300;
    span {
      width: 1px;
      background: #d77858;
      height: 9px;
      display: inline-block;
      letter-spacing: 0;
      margin: 0 2px;
    }
  }
}
