#about_us {
  .main_img {
    width: 100%;
  }
  h1 {
    text-align: left;
    margin-bottom: 38px;
    margin-top: 30px;
  }
  .bottom_line {
    margin-top: 60px;
  }
  blockquote {
    margin-left: 30px;
    color: #d77858;
    margin-right: 30px;
  }
}
