.portfolio_slider {
  .slick-prev {
    left: 10px;
    width: 19px;
    height: 16px;
    z-index: 1;
    opacity: 1;
    transition: all ease 0.2;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next {
    transition: all ease 0.2;
    right: 10px;
    width: 19px;
    height: 16px;
    z-index: 1;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next:before {
    transition: all ease 0.2s;
    content: url("../img/next.svg");
    line-height: auto;
    width: 19px;
    height: 16px;
    right: 10px;
    background-image: url("../img/next.svg");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    line-height: auto;
    right: 10px;
    width: 30px;
    height: 30px;
    top: 0;
    opacity: 1;
  }
  .slick-prev:before {
    transition: all ease 0.2s;
    content: "";
    background-image: url("../img/left.svg");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    line-height: auto;
    left: 10px;
    width: 30px;
    height: 30px;
    top: 0;
    opacity: 1;
  }
  .portfolio_slide {
    &:hover {
      .portfolio_text {
        bottom: 0;
      }
    }
    a {
      outline: 0;
    }
    outline: 0;
    img {
      height: calc(100vh - 150px);
      outline: 0;
      margin-right: 5px;
    }
  }
  .portfolio_img_holder {
    position: relative;
  }
  .portfolio_text {
    transition: all ease-in 0.3s;
    position: absolute;
    bottom: -114px;
    left: 0;
    background: #fff;
    width: 100%;
    padding: 20px 25px 22px 25px;
    h2 {
      color: #040404;
      @include fontSize(20px);
      letter-spacing: 0.45px;
      margin-bottom: 2px;
    }
    h4 {
      margin-top: 0;
      color: #d77858;
      @include fontSize(14px);
      padding-left: 26px;
      position: relative;
      &:before {
        content: '';
        width: 18px;
        height: 1px;
        background: #b2b2b2;
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
      }
    }
  }
}
