#contact {
  .main_img {
    width: 100%;
  }
  .main_contact_container {
    padding-top: 60px;
    input {
      width: 100%;
      border: solid 1px #c8c2c2;
      border-top: 0;
      color: #676767;
      @include fontSize(14px);
      padding: 24px 25px;
      color: #000;
      outline: 0;
      transition: all ease 0.2s;
      &:first-child {
        border: solid 1px #c8c2c2;
      }
      &:focus {
        border-bottom: solid 1px #d77858;
      }
    }
    textarea {
      width: 100%;
      border: solid 1px #c8c2c2;
      border-top: 0;
      color: #000;
      @include fontSize(14px);
      padding: 22px 25px;
      transition: all ease 0.2s;
      outline: 0;
      line-height: 24px;
      height: 70px;
      &:focus {
        border-bottom: solid 1px #d77858;
      }
    }
    .contact_submit_holder {
      display: inline-flex;
      width: auto;
      align-items: center;
      cursor: pointer;
      padding: 12px 20px 12px 0;
      margin-top: 6px;
      &:hover {
        > button {
          margin-left: 22px;
        }
      }
      .contact_submit_line {
        width: 23px;
        height: 1px;
        background-color: #b2b2b2;
        transform: translateY(1px);
      }
      button {
        border: 0;
        outline: 0;
        padding: 10px 40px 10px 0;
        background: transparent;
        text-decoration: none;
        color: #d77858;
        @include fontSize(18px);
        display: inline-block;
        line-height: 1;
        margin-left: 12px;
        transition: all ease-out 0.2s;
      }
    }
  }
  .contact_holder {
    padding-left: 10px;
    h2 {
      @include fontSize(22px);
      margin-bottom: 26px;
      margin-top: 4px;
    }
    .contact_line {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 18px;
      @include fontSize(16px);
      color: #d77858;
      letter-spacing: 0.45px;
      .contact_line_name {
        width: 86px;
      }
      a {
        transition: all ease 0.2s;
        color: #030303;
        text-decoration: none;
        &:hover {
          color: #d77858;
        }
      }
    }
  }
  .contact_adress {
      padding: 22px 15px;
      text-align: center;
      @include fontSize(18px);
      line-height: 1.5;
      color: #d77858;
      background-color: #fbf9fa;
      margin-top: 56px;
      margin-bottom: 110px;
  }
}
