#single_journal {
  .tagline_date {
    color: #d77858;
    @include fontSize(14px);
    margin-top: 40px;
    margin-bottom: 6px;
    @include responsive-md() {
      font-size: 12px;
      text-align: center;
      margin-top: 24px;
      margin-bottom: 4px;
  }
  }
  h1 {
    text-align: left;
    margin-bottom: 40px;
    @include responsive-md() {
      font-size: 22px;
      text-align: center;
      margin-bottom: 16px;
  }
  }
  .bottom_line {
    margin-top: 100px;
  }
  blockquote {
    margin-left: 30px;
    color: #d77858;
    margin-right: 30px;
  }
  .single_journal_main {
    opacity: 0;
  }
}
