#single_portfolio {
    img {
        width: 100%;
        margin-bottom: 14px;
    }
    .text {
        text-align: right;
    }
    h1 {
        text-align: right;
    }
    .portfolio_permalink_outter {
        display: flex;
        justify-content: flex-end;
    }
    .portfolio_permalink_holder {
        text-align: right;
        display: inline-flex;
        width: auto;
        align-items: center;
        cursor: pointer;
        padding: 12px 0 12px 20px;
        margin-bottom: 40px;
        &:hover {
            > a {
                margin-left: 22px;
            }
        }
        .read_more_line {
            width: 23px;
            height: 1px;
            background-color: #b2b2b2;
            transform: translateY(1px);
        }
        a {
            text-decoration: none;
            color: #d77858;
            @include fontSize(18px);
            display: inline-block;
            line-height: 1;
            margin-left: 12px;
            transition: all ease-out 0.2s;
        }
    }
    .content_holder {
        display: none;
    }
}