#single_journal {
  .tagline_date {
    color: #d77858;
    @include fontSize(14px);
    margin-top: 40px;
    margin-bottom: 6px;
  }
  h1 {
    text-align: left;
    margin-bottom: 40px;
  }
  .bottom_line {
    margin-top: 60px;
  }
  blockquote {
    margin-left: 30px;
    color: #d77858;
    margin-right: 30px;
  }
}
